:root {
    --transform-length: 16vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 1vw;
    padding: 2px;
}

.level {
    width: 20vw;
    height: 16vw;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    justify-content: center;
    align-items: center;
}

.label {
    border: 1px solid #000;
    padding: 2px 4px;
    position: relative;
    top: -5vw;
    z-index: 2;
}

span {
    display: inline;
    position: relative;
    right: 7vw;
}

#lift {
    background-color: #a8601c;
    position: absolute;
    top: 5vw;
    z-index: 1000;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #a8601c;
    border-radius: 4px;
    height: 12vw;
    color: aliceblue;
}

i {
    color: darkblue;
    outline: none;
    padding: 2px;
    width: fit-content;
    font-size: 3vw;
    cursor: pointer;
}

@keyframes move-DOWN {
    100% {
        transform: translateY(var(--transform-length));
    }
}

@keyframes move-UP {
    100% {
        transform: translateY(calc(-1 * var(--transform-length)));
    }
}
