* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 1vw;
    padding: 2px;
}

.level {
    width: 20vw;
    height: 16vw;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    justify-content: center;
    align-items: center;
}

.label {
    border: 1px solid #000;
    padding: 2px 4px;
    position: relative;
    top: -6vw;
}

span {
    display: inline-flexbox;
    position: relative;
    right: 14vw;
}

#lift {
    background-color: #a8601c;
    position: absolute;
    top: 37vw;
    z-index: 1000;
    width: 18vw;
    border: 2px solid #a8601c;
    height: 12vw;
}

button {
    width: fit-content;
    font-size: 1vw;
}

@keyframes moveDown {
    100% {
        transform: translateY(16vw);
    }
}
